img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

cr-i img {
  width: 100%;
  height: 100%;
}

cr-i {
  position: relative;
}

.cr-i .child-car {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45%;
  height: fit-content;
  transform: translate(20%, -50%);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.9);
  font-family: Inter, Inter-fallback, sans-serif;
  padding-inline:  3rem;
padding-block: 2.5rem;
  line-height: 2;
  color: var(--clr-drk-2) !important;
  border-radius: .4rem;
}

.cr-i .child-car h5 {
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  word-spacing: 10px;
}

.cr-i .child-car p {
  width: 100%;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2rem;
}

.cr-i .child-car .sp-p{
    font-size: 1rem;
    
}

