footer .container-fluid{
    background-color: var( --clr-drk-1) !important;
    
   
    
}

.nav-footer {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--clr-whit-1);
    width: 70%;
    margin: auto;
    padding-top: 2rem;

    
 
}



.nav-footer .nav a{
    color: var(--clr-whit-1) !important;
}


img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.parent-obj{
    width: 95%;
    margin: auto;
}

.specific-footer img{
    width: 10%;
}

.specific-footer span{
    display: flex;
    justify-content: center;
    align-items: center;
}



footer form input{

    margin-bottom: 1rem;
    outline: none;
    width: 80%;
    padding-block: .5rem;
}


.icons-social{
    display: flex;
    gap: 1rem;
    
}

.nav-footr{
    display: block;
}


.icons-social i{
    font-size: 1.5rem;
    cursor: pointer;
}