img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.rising-starts{
    width: 95%;
    margin: auto;
}

.cards-rising-str{
    margin-top: 2rem;
    width: 100%;
    gap: 1rem;
   

}

.card-rising{

    width: calc(100% / 3);
    padding-inline: 1rem;
    
 
}



@media (max-width : 1024px) {
    .cards-rising-str{
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center !important;
    height: fit-content;
    
   

}

.card-rising{

   
    
    width: 30%;
 
}
}


@media (max-width : 425px) {
    .cards-rising-str{
      width: 100%;
    }


    .card-rising{
        width: 100%;
        
    }
}