.nav1-main {
  
  width: fit-content;
  margin: 3rem auto;
  font-size: 12px;
  text-align: center;
 
}
.nav1-main li {
  width: calc(100% / fit-content);
  padding-inline: 0.2rem;
  
}

.nav1-main li a {
  width: fit-content !important;
  border: 1px solid var(--clr-drk-2);

}
