:root {
  --main-color: #fcfbf9;
  --secondary-color: #f1f1f1b6;
  --clr-txt-black: #000000;
  --clr-whit-1: #ffffef;
  --clr-whit-2: #f8f5ee;
  --clr-drk-1: #1e1e1e;
  --clr-drk-2: #333333;
  --clr-srch: #f1f1f1;
}

* {
  font-family: Inter, Inter-fallback, system-ui;
}

a {
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/*Start  Header */

/* .container-sp{
  width: 90%;
  margin: auto;
} */

header {
  box-shadow: 0 6px 5px 0 rgba(126, 126, 126, 0.555);
}

.img-logo img {
  width: 200px;
  height: 30px;
}

.icon-header i {
  font-size: 1.5rem;
}

/* Start ***navBar** */

nav {
  width: 85% !important;
  margin: 0 auto;
}

nav li a {
  font-size: 16px !important;
  color: var(--clr-drk-2) !important;
}

form {
  width: 100%;
}

.srch {
  background-color: var(--secondary-color);
  padding-block: 1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}

.gr-icon i {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
/* End  ***navBar** */

/* End Header */

/* Start Responsive */

/* Start Header */

/* **********************Start Media Quary*********************************** */






@media (min-width: 320px) and (max-width: 991.98px) {

 .logo{
  overflow: hidden;
 }
  .container-header{
   
    width: 100% !important;
  }
  header .alert {
    display: block;
  }

  header .alert p {
    display: flex;
    flex-direction: column;
  }

  .logo{
    width: 100%;
  }

  .img-logo {
    width: 60% !important;
  }

  .img-logo img{
    width: 100%;
  }

  .img-logo span{
   font-size: .7rem;
   font-weight: bold;
  }

  .logo{
    
    width: 100% !important;
    margin: auto !important;
    justify-content: center !important;
    
  }

  .gr-icon{
    width: 20% !important;
    gap: 1 !important;
    margin: 0 !important;
    
  }

  .gr-icon i{
    max-width: 60% !important;
    font-size: 1rem !important;
    display: flex;
    margin: 0 !important;  
  }

  .logo form {
    display: none;
  }

  .fa-solid.fa-magnifying-glass {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .icon-header .fa-solid.fa-bars {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .nav-header {
    display: none !important;
  }

  .child-hero p,
  .child-hero span {
    font-size: 16px !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  /* Hero Sec */

  .slide-1 {
    display: none;
  }

  .slide-2 {
    display: block !important;
  }

  .cr-parent {
    width: 100%;
    position: relative !important;
    overflow: visible !important;
  }

  .cr-itm{
    width: 100% !important;
    height: 100% !important;
  }

.cr-itm img{
  width: 100% !important;
  height: 40vh !important;
  object-fit: cover;
  object-position: center;
  
}

  .txt-cr {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(50%);
    z-index: 5 !important;
    width: 95%;
    margin:0 auto;
    line-height: 2;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
    text-transform: uppercase;
    
  }
.container-main{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F5F5;
}


.nav1-main{

   width: 100%;
   margin-left: auto;
   margin-right: auto;
  margin-top: 9rem !important;

  
}

.parent-navmain{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
 
}

.parent-navmain .nav{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;

 
}


.parent-navmain .nav li{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
    border-bottom: 2px solid #53535377;

 
  
}

.parent-navmain .nav li a{
  border: none;
  display: flex;
  color: #000000 !important;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
   
}

.container-card{
  
}


.cards{
  
  width: 100%;
}



.card-exp{
 
  width: 100% !important;
 
}


.card-exp img{
   width: 100%;
}


}






