:root {
  --main-color: #fcfbf9;
  --secondary-color: #f1f1f1b6;
  --clr-txt-black: #000000;
  --clr-whit-1: #ffffef;
  --clr-whit-2: #f8f5ee;
  --clr-drk-1: #1e1e1e;
  --clr-drk-2: #333333;
  --clr-srch: #f1f1f1;
}

* {
  font-family: Inter, Inter-fallback, system-ui;
}

a {
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}




.img-logo img{
  width: 100% !important;




}

.txt-logo{
  margin-left: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
font-size: 1.5rem;
font-weight: bold;
}
/*Start  Header */

/* .container-sp{
  width: 90%;
  margin: auto;
} */

header {
  box-shadow: 0 6px 5px 0 rgba(126, 126, 126, 0.555);
}

.img-logo img {
  width: 200px;
  height: 30px;
}

.icon-header i {
  font-size: 1.5rem;
}

/* Start ***navBar** */

nav {
  width: 85% !important;
  margin: 0 auto;
}

nav li a {
  font-size: 16px !important;
  color: var(--clr-drk-2) !important;
}

form {
  width: 100%;
}

.srch {
  background-color: var(--secondary-color);
  padding-block: 1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}

.gr-icon i {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
/* End  ***navBar** */

/* End Header */

/* Start Responsive */

/* Start Header */

/* **********************Start Media Quary*********************************** */






@media (min-width: 320px) and (max-width: 991.98px) {

 .logo{
  overflow: hidden;
 }
  .container-header{
   
    width: 100% !important;
  }
  header .alert {
    display: block;
  }

  header .alert p {
    display: flex;
    flex-direction: column;
  }

  .logo{
    width: 100%;
  }

  .img-logo {
    width: 60% !important;
  }

  .img-logo img{
    width: 100%;
  }

  .img-logo span{
   font-size: .7rem;
   font-weight: bold;
  }

  .logo{
    
    width: 100% !important;
    margin: auto !important;
    justify-content: center !important;
    
  }

  .gr-icon{
    width: 20% !important;
    gap: 1 !important;
    margin: 0 !important;
    
  }

  .gr-icon i{
    max-width: 60% !important;
    font-size: 1rem !important;
    display: flex;
    margin: 0 !important;  
  }

  .logo form {
    display: none;
  }

  .fa-solid.fa-magnifying-glass {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .icon-header .fa-solid.fa-bars {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .nav-header {
    display: none !important;
  }

  .child-hero p,
  .child-hero span {
    font-size: 16px !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  /* Hero Sec */

  .slide-1 {
    display: none;
  }

  .slide-2 {
    display: block !important;
  }

  .cr-parent {
    width: 100%;
    position: relative !important;
    overflow: visible !important;
  }

  .cr-itm{
    width: 100% !important;
    height: 100% !important;
  }

.cr-itm img{
  width: 100% !important;
  height: 40vh !important;
  object-fit: cover;
  object-position: center;
  
}

  .txt-cr {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(50%);
    z-index: 5 !important;
    width: 95%;
    margin:0 auto;
    line-height: 2;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
    text-transform: uppercase;
    
  }
.container-main{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F5F5;
}


.nav1-main{

   width: 100%;
   margin-left: auto;
   margin-right: auto;
  margin-top: 9rem !important;

  
}

.parent-navmain{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
 
}

.parent-navmain .nav{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;

 
}


.parent-navmain .nav li{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
    border-bottom: 2px solid #53535377;

 
  
}

.parent-navmain .nav li a{
  border: none;
  display: flex;
  color: #000000 !important;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
   
}




.cards{
  
  width: 100%;
}



.card-exp{
 
  width: 100% !important;
 
}


.card-exp img{
   width: 100%;
}


.shop-category{

  display: block !important;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.nav-shop{
 
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  
}

.nav-shop li{
  width: 100%;
  margin-bottom: .5rem;
}

.text-shop h3{
  
  border-bottom: 1px solid #000;
  
}

.category-picks  h4  {
  text-align: center !important;
  margin-bottom: 2rem !important;
  text-transform: uppercase;
  
}
 .card-exp{
  
  margin-top: .2rem !important;
 }

 .card-why-shop{
  
  width: 100% !important;
  margin-bottom: .5rem;
 }


 .card-txt-shop{
  
  font-size: 14px;
  width: 100% !important;
 }
 .rising-starts h4{
    
    text-align: center;
}
.shop-by-category .ineer-container-m{
 
  display: block !important;
}


.ineer-container-1{
  display: block;
  text-align: center;
  width: 100%;
 
}

.container-art{
  width: 100% !important;
  background-color: #F5F5F5;
  padding-top: .8rem !important;
}
.ineer-container-1 .txt-art h3{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem !important;
}

.btn-link a{
  
  border: 1px solid #1d1d1d;
  border-radius: .5rem;
 text-decoration: none!important; 
  
}

.nav-link{
  text-decoration: none !important;
}

.cards-collector{
 margin-top: 1rem !important;
  width: 100%;
  height: 100% !important;
  

}

.parent-cr {
 
  width: 100% !important;
  text-align: center !important;
}
.crd-body img{
  border-radius: 10px 10px  0 0;
}

 .crd-text{
  
  text-align: center !important;
  margin-bottom: 1rem !important;
  background-color: #fff;
  
}


.crd-body{
  border: 1px solid #F5F5F5;
 border-radius: 10px 10px 0 0;
}


.right-sec{
  
  width: 100% !important;
  height: 100% !important;
 
}


.pr-r-sec{
  background-color: #fff;
  
}


.pr-r-sec img{
    border-radius: 10px 10px  0 0 ;

} 

.img img{
  border-radius: 10px 10px 0 0 !important;
}

.txt-last{
  padding: 0 !important;
  margin: 0 !important;
  
}


footer{
  margin-top: -46px !important;
}

footer .con-footer{
  
  width: 100% !important;

}
.nav-footer .head-nav{
    display: block !important;
    width: 100% !important;
    text-align: center !important;
    margin-bottom: .5rem !important;
    border-top: 1px solid;

    border-left: 1px solid;
    border-right: 1px solid;
    padding: 1rem .5rem !important;
    border-radius: .9rem !important;

}

.nav-footer .nav-ftr{
  display: block !important;
  width: 100% !important;

}

.nav-footer .nav-ftr li{
  display: flex;
  justify-content: center;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: .9rem !important;
  margin-bottom: .2rem;

}


.parent-obj{
 
  display: flex !important;
  flex-direction: column-reverse;
  width: 100% !important;
}
.parent-obj .sec-ftr{
  display: block;
  width: 100% !important;
 
}
.specific-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0!important;
margin: 0 !important;
margin-bottom: 1rem !important;
font-size: 1.5rem;
font-weight: bold;
  
  
}
.specific-footer img{

  width: 25px !important;

}

.txt-ad{
  text-align: center;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-social{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-footr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-footr li{
  display: none !important;
}


.parg{
  text-align: center;
  margin-bottom: 2rem !important;
}



header{
  outline: 3px solid red;
  overflow: hidden;

}

main{
  
  overflow: hidden;
}

footer{
 
  overflow: hidden;
}

}






